@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/afternoon";

.app,
.app-modal {
    font: var(--font-m);
    color: var(--text-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

// Scrollbar

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--second-bg-color);
    border-radius: 20px;
}

* {
    scrollbar-color: var(--bg-color) var(--second-bg-color);
}
