@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/afternoon";

.app,
.app-modal {
    font: var(--font-m);
    color: var(--text-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}
