.panel {
    background: var(--second-bg-color);
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    border: 1px solid var(--text-color);
    flex-direction: column;
    display: flex;
    overflow: hidden;
    padding: 20px;
}
