.menu {
    background: var(--second-bg-color);
    position: absolute;
    z-index: var(--popover-z-index);
    border-radius: 8px;
    border: 1px solid var(--text-color);
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: var(--text-color)
}
