.container {
    border: 1px solid var(--text-color);
    position: relative;
    background-color: var(--code-bg);
}

.code {
    display: block;
    padding: 20px;
    overflow: auto;
}

.copyBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    transition-duration: 0.4s;
}

.copyBtn::after {
    content: "";
    display: block;
    position: absolute;
    right: 50%;
    bottom: 5px;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 50%;
    box-shadow: 0 -40px 40px 40px var(--text-color);
}

.copyBtn:active::after {
    box-shadow: 0 0 0 0 var(--text-color);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}
