.app-afternoon-theme {
    --bg-color: #f1f1f1;
    --inverted-bg-color: #e1e1e1;
    --primary-color: #232323;
    --secondary-color: #232323;
    --inverted-primary-color: #232323;
    --inverted-secondary-color: #232323;
}
