.app-afternoon-theme {
    --bg-color: #f1f1f1;
    --second-bg-color: #e1e1e1;
    --third-bg-color: #232323;
    --text-color: #232323;
    --second-text-color: #9d9d9d;
    --third-text-color: #f1f1f1;

    // Redesigned
    --dark-bg-redesigned: #FFF3D6;
    --bg-redesigned: #F0C048;
    --light-bg-redesigned: #F2D791;
    --text-redesigned: #1B1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;

    // Skeleton
    --skeleton-color: #c5c5c5;

    // Code
    --code-bg: #dcdcdc;

    // Card
    --card-bg: #e1e1e1;
}
