.app-dark-theme {
    --bg-color: #3b3b3b;
    --second-bg-color: #2f2f2f;
    --third-bg-color: #000;
    --text-color: #fff;
    --second-text-color: #e0e0e0;
    --third-text-color: #fff;

    // Redesigned
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555555;
    --cancel-redesigned: #D95757;
    --save-redesigned: #6CD98B;
    --icon-redesigned: #74A2B2;
    --accent-redesigned: #5ED3F3;

    // Skeleton
    --skeleton-color: #575757;

    // Code
    --code-bg: #000;

    // Card
    --card-bg: #2f2f2f;
}
