.app-dark-theme {
    --bg-color: #3b3b3b;
    --second-bg-color: #2f2f2f;
    --third-bg-color: #000000;
    --text-color: #ffffff;
    --second-text-color: #e0e0e0;
    --third-text-color: #ffffff;

    // Skeleton
    --skeleton-color: #494949;
}
