:root {
    --bg-color: #eee;
    --second-bg-color: #c2c2c2;
    --third-bg-color: #093880;
    --text-color: #093880;
    --second-text-color: #94aacc;
    --third-text-color: #eee;

    // Redesigned
    --dark-bg-redesigned: #FFFFFF;
    --bg-redesigned: #EFF5F6;
    --light-bg-redesigned: #E2EEF1;
    --text-redesigned: #141C1F;
    --hint-redesigned: #ADBCC0;
    --cancel-redesigned: #FF7777;
    --save-redesigned: #62DE85;
    --icon-redesigned: #5ED3F3;
    --accent-redesigned: #00C8FF;

    // Skeleton
    --skeleton-color: #d1d1d1;

    // Code
    --code-bg: #e3e3e3;

    // Card
    --card-bg: #e5e5e5;
}
