:root {
    --bg-color: #eaeaea;
    --inverted-bg-color: #000065;
    --primary-color: #1d5dbe;
    --secondary-color: #3c6aff;
    --inverted-primary-color: #16e216;
    --inverted-secondary-color: #169d16;
}
