:root {
    --bg-color: #eaeaea;
    --inverted-bg-color: #000065;

    --primary-color: #1d5dbe;
    --secondary-color: #295cff;
    --inverted-primary-color: #169d16;
    --inverted-secondary-color: #0abd0a;
}