.isStroke,
.isStroke path {
    stroke: var(--text-color);
}

.Icon:not(.isStroke),
.Icon path:not(.isStroke path) {
    fill: var(--text-color);
    color: var(--text-color)
}

.isStroke,
.isStroke path {
    stroke: var(--text-color);
}

.Inverted:not(.isStroke),
.Inverted path:not(.isStroke path) {
    fill: var(--third-text-color);
    color: var(--third-text-color);
}
