.starIcon {


}
// TODO исправить стили

.starIcon:not(.isStroke), .starIcon path:not(.isStroke path) {
    cursor: pointer;
}

.normal:not(.isStroke), .normal path:not(.isStroke path) {
    fill: none;
}

.hovered:not(.isStroke), .hovered path:not(.isStroke path) {
    fill: var(--text-color);
}

.selected:not(.isStroke), .selected path:not(.isStroke path) {
    cursor: auto;
}
