.Dropdown {
    position: relative;
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    background: var(--second-bg-color);
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    border: 1px solid var(--text-color);
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.top-right {
    bottom: 100%;
    left: 0
}

.top-left {
    bottom: 100%;
    right: 0;
}

.bottom-right {
    left: 0;
}

.bottom-left {
    right: 0;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: var(--text-color)
}

.active {

}

