.AppLink {
    &:hover {
        opacity: 0.5;
    }
}

.primary {
    color: var(--text-color);
}

.secondary {
    color: var(--second-text-color);
}

.third {
    color: var(--third-text-color);
}

.red {
    color: red;
}
